# This is Git's per-user configuration file.
[user]
	name = Joel Mueller
	email = joelmueller27@gmail.com
# Please adapt and uncomment the following lines:
#	name = Joel Mueller
#	email = joelmueller@gmail.com
